
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway&display=swap');

:root {
  --primary-white :  #fff;
  --primary-gray : #808080;
  --primary-dark : rgba(255, 255, 255,0);
}


/************************************  NAVBAR  ******************************************/ 

nav{
  z-index: 2;
}
/****------menu links ----*****/
nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;

}
nav ul li{  
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);

}

.navbar-brand {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 2em !important;
}

.navbar > li > a.active, .navbar-nav > li > a:activesudo ufw app list
:focus {
  border-top: 0.1875rem solid var(--primary-gray);
}

.navbar > li > a:hover {
  border-top: 0.1875rem solid var(--primary-gray) !important;
}

.navbar-custom-bg{
  background-color: #e5e5e5;
}

/************************************  HEADER  ******************************************/ 

.header-wrapper{
  position:relative;
  background:url("https://wallpaperaccess.com/full/868844.png");
  background-size: cover;
  background-position:center;
  height:90vh;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-info h1{
  font-family: "Lato" ;
  color: #605858;
  text-transform: uppercase;

}

/****------TYPED TEXT ----*****/

.typed-text{
  font-size: 2rem;
  color: #605858;
}

/*******----PARTICLES-----****/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  widht: 100vw;
  z-index: 1;
}