
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
:root {
  --primary-white :  #fff;
  --primary-gray : #808080;
  --primary-dark : rgba(255, 255, 255,0);
}


/************************************  NAVBAR  ******************************************/ 

/****------menu links ----*****/
nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;

}
nav ul li{  
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);

}

.navbar-brand {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 2em !important;
}

.navbar > li > a.active, .navbar-nav > li > a:activesudo ufw app list
:focus {
  border-top: 0.1875rem solid var(--primary-gray);
}

.navbar > li > a:hover {
  border-top: 0.1875rem solid var(--primary-gray) !important;
}


/**************************************************************************************/